* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

textarea, input { font-family: 'Inter', sans-serif; }

textarea{
  font-size: 12px;
}

body {
  background-color: #e0e0e0;
  font-family: 'Inter', sans-serif;
  padding:20px;
}

.text{
  margin-top: 10px;
}

.note-header{
  text-align: center;
}

.note-search, .note-create{
  margin:auto;
  text-align: center;
  width:30%;
}

.note-item{
  background-color: #FFF;
  border-radius: 10px;
  box-shadow: 0px 0px 5px cornflowerblue;
  margin-top:10px;
  margin-bottom:10px;
  padding: 20px;
}

.note-app__list-note{
  display: grid;
  column-gap: 20px;
  grid-template-columns: 50% 50%;
}

.note-item__box-button{
 text-align: end;
}


.note__input{
  width:100%;
  padding:8px;
  border: 1px solid cornflowerblue;
  border-radius: 10px;
}

.button-large {
  font-weight: bold;
  color: white;
  background-color: cornflowerblue;
  border: 0px;
  width:100%;
  padding:8px;
  border-radius: 10px;
}

.button-large:hover{
  box-shadow: 0px 0px 5px cornflowerblue;
}

.button-small{
  border-radius: 10px;
  padding: 8px;
  border:0px;
  font-weight: bold;
  color:white;
}

.button-blue{
  background-color: cornflowerblue;
}

.button-red{
  background-color: crimson;
}

.button-blue:hover{
  box-shadow: 0px 0px 5px cornflowerblue;
}

.button-red:hover{
  box-shadow: 0px 0px 5px crimson;
}