* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #e0e0e0;
  font-family: 'Inter', sans-serif;
  padding:20px;
}

.text{
  margin-top: 10px;
}

.note-header{
  text-align: center;
}

.note-search{
  text-align: center;
}

.note-create{
  margin:auto;
  text-align: center;
  width:50%;
}


.note-item{
  background-color: #FFF;
  border-radius: 10px;
  box-shadow: 0px 0px 5px #888888;
  margin-top:10px;
  margin-bottom:10px;
  padding: 20px;
}

.note-app__list-note{
  display: grid;
}

.note-item__box-button{
 text-align: end;
}


.note-search__input{
  padding:8px;
}
